// Mixins in here


.dash-line() {
  border-bottom: 2px dashed @navigation-border;
}

.btn {
  background-color: #1f8080;
  padding: 1rem;
  color: white;
  text-align: center;
  font-size: 1.8rem;
  border-radius: 1rem;
  width: 80%;
  height: auto;
}


.theme (@mode) when (@mode = "dark") {
  background-color: darkblue;
  color:white;
}
.theme (@mode) when (@mode = "light") {
  background-color: lightblue;
  color: black;
}
.dark(){
  transition: all 750ms !important;
  transition-delay: 0 !important;
  background-color: #1F2429;
  color: #e2e6ec;
  nav a{
    color: #4579bd
  }
  .logo a {
    color:#4579bd;
  }
  footer p{
    color: #e2e6ec;
  }
}