// Navigation Styles here

.logo {
  font-family: "Indie Flower", cursive;

  a {
    text-decoration: none;
    font-size: 3.5rem;
    color: black;
  }
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem;

  a {
    padding: 0 1rem;
    font-size: 1.5rem;
    color: black;
  }
}
