.logo {
  font-family: "Indie Flower", cursive;
}
@media (max-width: 500px) {
  .logo {
    padding-bottom: 1rem;
  }
}
.logo a {
  text-decoration: none;
  font-size: 3.5rem;
  color: black;
}
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem;
}
@media (max-width: 500px) {
  header {
    flex-direction: column;
  }
}
header a {
  padding: 0 1rem;
  font-size: 1.5rem;
  color: black;
}
@media (max-width: 500px) {
  header a {
    padding: 0rem 2.5rem;
  }
}
